
<infraAccPortGrp  name="{{ port_policy }}" dn="uni/infra/funcprof/accportgrp-{{ port_policy }}" >
    <infraRsAttEntP tDn="uni/infra/attentp-{{ aep }}"/>
    <infraRsHIfPol tnFabricHIfPolName="{{ speed }}"/>
    <infraRsLldpIfPol tnLldpIfPolName="{{ lldp }}"/>
</infraAccPortGrp>
